* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;  
}

.smallLinks a:hover {
  color: rgba(255, 255, 255, .5);
}

.App {
  text-align: center;
  /* background-image: url("./assets/images/gears.jpeg");
  background-size: cover; */
  background: no-repeat center url("./assets/images/gears.jpeg");

  overflow: hidden;
}

footer {
  height: 5vh;
  color: white;
  text-align: right;
}

footer span {
  margin-right: 35px;
}

footer a {
  margin: 0 7px;
}

.container {
  height: 95vh;
}



/* gears background - pexel */
/* d3 gears mike bostock */
