
/*==============================================IMPORTANT=====================================*/
/*Please add new classes at the end. Otherwise it may cause the color themes not work properly*/
/*============================================================================================*/

.Label
{
	color:#000000; 
}
.SelectedRow_Outlook td
{
	color: white;
	padding: 2px 0px;
}

#ctl00_ContentPlaceHolder_SearchResultsGrid_ctl00_GroupPanel
{
}

/* Styles for radtree copied from skin css file to apply theme */
a.TreeNode 
{ 
	font-family: Tahoma;
	font-size: 8pt; 
	color: #35548a;	
	padding-left: 9px;
}

a.TreeNodeSelect 
{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #35548a; 
	cursor: hand;
	margin-left: 9px;	
}
/* End of style for radtree*/

.GoButton
{
	width: 38px;
	height: 16px;
	border: solid 1px #8d6776;
	font-weight: bold;
	cursor: hand;
	font-size: 10px;
}

html
{
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background: #FFFFFF;
	height:100%;
	width:100%;
	overflow:hidden;
	overflow:-moz-hidden-unscrollable;
}
body
{
	background: #c5daf9;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 100%;
	width:100%;
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background: #FFFFFF;
	table-layout:fixed;
	overflow:hidden;
	overflow:-moz-hidden-unscrollable;
}
input, option, select
{
	font-family: Tahoma;
	font-size: 11px;
}
form
{
	font-family: Tahoma;
	font-size: 11px;
	height:100%;
	width:100%;
}

p
{
	margin: 8px 0 8px 0;
	_margin: 4px 0 8px 0;
}

/*ul
{
	padding: 0; margin: 0;
}*/

img
{
	border: 0px;	
}

.Maxh
{
	height: 100%;
}

.Maxw
{
	width: 99%;
}

.FormInput
{
	width: 180px;
	height:16px;
	border: 1px solid #B4C2EC;
}

.MobileGoButton
{
	vertical-align:middle;
	background: #ffa700;
	width: 38px;
	height: 16px;
	border: solid 1px #8d6776;
	font-weight: bold;
	cursor: hand;
	font-size: 10px;
}

.FloatLeft
{
	float: left;
}

/*colgroup
{
	display:table-column-group;
}

colgroup col
{
	display:table-column-group;
	width:19px;
}*/

#ctl00_ContentPlaceHolder_updatepnlReadingPane
{
	height:100%;
}

#ctl00_ContentPlaceHolder_updatepnlGrid
{
	height:500px !important;
}
