
/*==============================================IMPORTANT=====================================*/
/*Please add new classes at the end. Otherwise it may cause the color themes not work properly*/
/*============================================================================================*/
.maintablestyle
{
	/*background: #c5daf9;*/
}

.PopupContainter{
	min-height:140px !important;
	min-width:242px !important;
	
    /*border: solid 3px #C5DAF9;*/
	position:absolute!important;
	z-index:3051 !important;
}



.PopupHeaderStyle
{
	padding-top:3px; 
	padding-bottom:3px;
	height:16px;
	
}

.grouppanelcss
{
}

.gridcss
{
}

.MainTable
{
	background: #c5daf9; 
	height:100%;
}

.descriptionpane
{
	padding-right:5px;
	/*padding-bottom:15px;*/
	border: solid 1px #162e5c;
	padding-bottom:15px;
}

#RAD_SPLITTER_PANE_CONTENT_ctl00_ContentPlaceHolder_paneDescription
{
	/*overflow-x:hidden !important;
	overflow-y:auto !important;*/
	/*padding-right:20px;*/
}

.formclass
{
	overflow:hidden;
}

.panestyle
{
	border-style:none;
	border-width:0;
	border-collapse:collapse;
}

#RAD_SPLITTER_ctl00_RadSplitter1
{
	width:100% !important;
	height:100% !important;
}

.splitterstyle
{
	overflow:hidden; 
	width:100%;
	height:100% !important;
	border-collapse:collapse;
}
.splitbarstyle
{
	width:5px;
}

.gridheaderstyle
{
	table-layout:auto;
	width:100%;
}

#col1 
{
	width: 200px;
	background-color: #6487DC;
	padding-left: 10px;
	border: solid 1px #162e5c;
}

#HeaderCell
{	
	background: white url(Images/Logo.gif) no-repeat top left; 
	height: 53px;
	padding-left: 170px;
}

#HeaderLinks
{
	padding-left: 13px;
	height: inherit;
	position: absolute;
}

#MainAreaHeaderWrapper
{
	/*background: #c5daf9;*/
	width:100%;
	/*_margin-bottom: 1px;*/
}

#MainAreaHeader
{
	font-weight: bold;
	font-size: 18px;
	border: solid 1px #162e5c;
	height: 27px;
	vertical-align: middle;	
	margin-left:2px;
	margin-right:2px;
	margin-bottom:0px;
	margin-top:0px;
	overflow:hidden;
	/*margin: 0px 2px 0px 2px;*/
}

#ctl00_WebSiteNameLabel
{
	display: inline;
	float: left;
	width: 400px;
	margin-top: 1px;
	_margin-top: 2px;
	margin-left: 0px;
} 
#ctl00_ContentPlaceHolder_cbNotifyByEmail
{
	margin-left: 0px;
}

#ctl00_ContentPlaceHolder_SearchResultsGrid_GridHeader
{
	width:100% !important;
	height:auto;
	min-height:20px;
}
/*
#PoweredBy
{
	float: right;
	margin-top: 3px;
	margin-right: 3px;
}
*/

#PoweredBy
{
	float: right;
	padding-bottom:3px;
	margin-right: 3px;
}

#MainAreaHeaderLabel
{
	padding-left: 7px;
}

#ctl00_NavigationControl_MenuPanel
{
	display:run-in;
	width:189px !important;
}

.MainAreaTable
{
	margin: 3px 3px 3px 3px;	
	background: #ffffff url(Images/NavigationBg.gif) repeat-y left; 
	border-bottom: solid 1px #30529c; 
	border-right: solid 1px #30529c; 
}

.LoginContainer
{
	float: right;
}

.Main
{
	background: white;
	border-top: solid 1px #30529c;
	margin-left: 3px;
}

.NavigationInput
{
	width: 140px;
	height: 16px;
	border: 1px solid #B4C2EC;
	visibility:visible !important;
	z-index:auto;
}

.HorizontalStrutContainer
{
	background:white;
	border-top: solid 1px #7f7f7f;
	height: 1px;	
}

#ctl00_CustomHeader
{
	width: 100%;
}

#ctl00_NavigationControl_MyAccountPanelMenuItem_cbRememberMe
{
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 8px;
	_margin-top: 2px;
	_margin-left: -2px;
}

#ctl00_NavigationControl_BasketPanelMenuItem_BasketInfo
{
	white-space: normal;
}

.HorizontalStrut
{
	width: 780px;
	height: 1px;
}

.NavigationInnerPanel .Title
{
	color: #284da6;
	font-weight: bold;
	padding-left: 4px;
	padding-top: 7px;
	text-decoration: none;
}

.NavigationInnerPanel .Panel
{
	color: #3c649f;
	padding-left: 26px;
}

#ctl00_ContentPlaceHolder_SearchResultsGrid_LoadingTemplate
{
	text-align:center;
	width:100%;
	height:100%;
	padding-top:20px;
}

#ctl00_ContentPlaceHolder_ReadingPane
{
	/*overflow-x:auto;
	overflow-y:auto;*/
	height:100%;
	padding-right:10px;
}
#ctl00_NavigationControl_SearchPanelMenuItem_CategoryList
{
	z-index:auto;
	visibility:visible !important;
	
}
#ctl00$NavigationControl$SearchPanelMenuItem$CategoryList
{
	visibility:visible !important;
}


#RadWindowWrapper_ctl00_radwindow
{
	min-height:183px !important;
	min-width:253px !important;
	/*height:500px !important;*/
	position:absolute !important;
	z-index:3010 !important;
	/*top:50px !important;
	bottom:600px!important;*/
	/*overflow-x:auto !important;
	overflow-y:auto !important;*/
	
}
#RadWindowWrapper_ctl00_radwindow table
{
	/*min-height:176px !important;*/
	
}

/*Added for PopupWindow*/
iframe,.windowcontent
{
	min-height:140px !important;
	/*height:460px !important;*/
	
	
}
html,iframe,.windowcontent
{
	PADDING-RIGHT: 0px;	
	PADDING-LEFT: 0px;	
	PADDING-BOTTOM: 0px;	
	MARGIN: 0px;	
	PADDING-TOP: 0px
	
	
	
}

