.LoginContainer
{
	color: Black;
	padding-right: 10px;
}

.Login
{	
}

.Logout
{
	color: #28445A;
}

.Login .Label
{
	font-weight:bold;
	padding: 0px;
	margin : 0px 3px 0px 0px;
	float: right;
}

.Login .FormInput
{
	width: 163px;
}

.Login .Submit
{
	font-weight:bold;
	text-align: center;
	color: Black;
	padding: 0;
	height: 22px;
	width: 74px;
	float: left;
}

.Login .Link
{
	color: #28445A;
	float:left;
	width: 112px;
	text-align:left;
	font-weight: normal;
}

.Login .Validation
{
	width: 10px;
	padding: 0px;
	margin: 0px;
	text-align: left;
	float: left;
}

.Login .Remember
{
	display: none;
}
