/* border style definition */
.RadSplitter_Outersplitter .slideContainerResize,
.RadSplitter_Outersplitter .slideContainerResizeHorizontal,
.RadSplitter_Outersplitter .slideContainerResizeOver,
.RadSplitter_Outersplitter .slideContainerResizeOverHorizontal,
.RadSplitter_Outersplitter .resizeBarHorizontal,
.RadSplitter_Outersplitter .resizeBarOverHorizontal,
.RadSplitter_Outersplitter .resizeBarInactiveHorizontal
{
	border: 1px solid #383838;
}
.RadSplitter_Outersplitter .paneHorizontal
{
	border-style:none;
}

.RadSplitter_Outersplitter .pane
{
	/*border:solid 1px #162e5c;*/
	border:none;
}
.RadSplitter_Outersplitter .resizeBar
{
	padding: 0;
	/*background: #383838;*/
	font-size: 1px;
	text-align: center;
	width:2px;
	border-style:none;
}

.RadSplitter_Outersplitter .resizeBarInactive
{
	padding: 0;
	background: #383838;
	font-size: 1px;
	text-align: center;
	width:2px;
	border-style:none;
}

.RadSplitter_Outersplitter .resizeBarOver
{
	padding: 0;
	background: #383838;
	font-size: 1px;
	text-align: center;
	width:2px;
	background: Highlight;
	border-style:none;
}

/* applies to the RadSlidingPanes */
div.RadSplitter_Outersplitter,
table.slideContainer
{
	position: absolute;
	top: -9999px;
	left: -9999px;
	border-style:none! important;
	border-collapse:collapse;
	height:100%;
	width:100%;
}

table.RadSplitter_Outersplitter
{
	width:100%;
	height:100%;
	border-collapse: collapse;
	border-style:none;
	/*border-bottom: 1px;*/ /* half the size of the border, but at least 1px */
}

.RadSplitter_Outersplitter .pane, 
.RadSplitter_Outersplitter .paneHorizontal 
{
	padding: 0;
	text-align: left;
	/*background-color: #fff;*/
	border-style:none! important;
}

.RadSplitter_Outersplitter .slideContainerResize,
.RadSplitter_Outersplitter .slideContainerResizeHorizontal,
.RadSplitter_Outersplitter .slideContainerResizeOver,
.RadSplitter_Outersplitter .slideContainerResizeOverHorizontal,
.RadSplitter_Outersplitter .resizeBarHorizontal,
.RadSplitter_Outersplitter .resizeBarOverHorizontal,
.RadSplitter_Outersplitter .resizeBarInactiveHorizontal
{
	padding: 0;
	background: #383838;
	font-size: 1px;
	text-align: center;
}

.RadSplitter_Outersplitter .resizeBarOverHorizontal
{
	background: #383838;
}


.RadSplitter_Outersplitter .slideContainerResize,
.RadSplitter_Outersplitter .slideContainerResizeOver
{
	width: 4px;	
}

.RadSplitter_Outersplitter .resizeBarHorizontal,
.RadSplitter_Outersplitter .resizeBarOverHorizontal,
.RadSplitter_Outersplitter .resizeBarInactiveHorizontal,
.RadSplitter_Outersplitter .slideContainerResizeHorizontal,
.RadSplitter_Outersplitter .slideContainerResizeOverHorizontal
{
	height: 4px;
}


.RadSplitter_Outersplitter .resizeBarInactiveHorizontal.first
{
	border-top: 0;
}


.RadSplitter_Outersplitter .resizeBarOverHorizontal,
.RadSplitter_Outersplitter .slideContainerResizeOver,
.RadSplitter_Outersplitter .slideContainerResizeOverHorizontal
{
	background: #383838;
}

/********************* Helper Bar ******************************/
.RadSplitter_Outersplitter .helperBarDrag, 
.RadSplitter_Outersplitter .helperBarDragHorizontal,
.RadSplitter_Outersplitter .helperBarSlideDrag,
.RadSplitter_Outersplitter .helperBarSlideDragHorizontal

{
	font-size: 1px;
	background-color:#ccc;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); 
	opacity: 0.6;
}

/* resize bar onerror */
.RadSplitter_Outersplitter .helperBarError, 
.RadSplitter_Outersplitter .helperBarSlideError,
.RadSplitter_Outersplitter .helperBarErrorHorizontal
{
	font-size: 1px;
	background-color: #f60;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); 
	opacity: 0.6;
}

/********************* Colapse Bar *****************************/

.RadSplitter_Outersplitter .resizeBarHorizontal
{	
	background: url("Splitter/splitbarBg.gif");
}

.RadSplitter_Outersplitter .resizeBar
{	
	/* changed on 26-12-08 */
	/*background-color:#C5DAF9; */
}
/*
.RadSplitter_Outersplitter .collapseBarOver,
.RadSplitter_Outersplitter .collapseBarOverHorizontal
{
	background: white;
}

.RadSplitter_Outersplitter .collapseBarError, 
.RadSplitter_Outersplitter .collapseBarErrorHorizontal
{
	background-color: #f32800;
}
*/

.RadSplitter_Outersplitter .collapseBarWrapper
{
	width: 3px;
	margin: auto;
}

.RadSplitter_Outersplitter .collapseBarCollapse
{	
	cursor: pointer;
	width: 3px;
	height: 27px;
	margin: auto;
	text-align:center;
	background: url(Splitter/splitbar_collapse_h.gif);
}

.RadSplitter_Outersplitter .collapseBarExpand
{	
	cursor: pointer;
	width: 3px;
	height: 27px;
	margin: auto;
	text-align:center;
	background: url(Splitter/splitbar_expand_h.gif);
}

.RadSplitter_Outersplitter .collapseBarHorizontalWrapper
{
	height: 3px;
	margin: auto;
}

.RadSplitter_Outersplitter .collapseBarHorizontalCollapse
{	
	cursor: pointer;
	width: 27px;
	height: 3px;
	margin: auto;
	text-align:center;
	float: left;
	background: url(Splitter/splitbar_collapse_v.gif);
}

.RadSplitter_Outersplitter .collapseBarHorizontalExpand
{	
	cursor: pointer;
	width: 27px;
	height: 3px;
	margin: auto;
	text-align:center;
	float: right;
	background: url(Splitter/splitbar_expand_v.gif);
}

.RadSplitter_Outersplitter .collapseBarCollapseOver
{	
	cursor: pointer;
	width: 3px;
	height: 27px;
	margin: auto;
	text-align:center;
	background: white url(Splitter/splitbar_collapse_h.gif);
}

.RadSplitter_Outersplitter .collapseBarExpandOver
{	
	cursor: pointer;
	width: 3px;
	height: 27px;
	margin: auto;
	text-align:center;
	background: white url(Splitter/splitbar_expand_h.gif);
}

.RadSplitter_Outersplitter .collapseBarHorizontalCollapseOver
{	
	cursor: pointer;
	width: 27px;
	height: 3px;
	margin: auto;
	text-align:center;
	float: left;
	background: white url(Splitter/splitbar_collapse_v.gif);
}

.RadSplitter_Outersplitter .collapseBarHorizontalExpandOver
{	
	cursor: pointer;
	width: 27px;
	height: 3px;
	margin: auto;
	text-align:center;
	float: right;
	background: white url(Splitter/splitbar_expand_v.gif);
}

.RadSplitter_Outersplitter .collapseBarCollapseError
{	
	cursor: pointer;
	width: 3px;
	height: 27px;
	margin: auto;
	text-align:center;
	background: red url(Splitter/splitbar_collapse_h.gif);
}

.RadSplitter_Outersplitter .collapseBarExpandError
{	
	cursor: pointer;
	width: 3px;
	height: 27px;
	margin: auto;
	text-align:center;
	background: red url(Splitter/splitbar_expand_h.gif);
}

.RadSplitter_Outersplitter .collapseBarHorizontalCollapseError
{	
	cursor: pointer;
	width: 27px;
	height: 3px;
	margin: auto;
	text-align:center;
	float: left;
	background: red url(Splitter/splitbar_collapse_v.gif);
}

.RadSplitter_Outersplitter .collapseBarHorizontalExpandError
{	
	cursor: pointer;
	width: 27px;
	height: 3px;
	margin: auto;
	text-align:center;
	float: right;
	background: red url(Splitter/splitbar_expand_v.gif);
}

/***********************************************/
/*             SLIDE                           */
/***********************************************/

/************************************************
	sliding zone 
*/
.RadSplitter_Outersplitter .slideZone
{
	background: white;
}

/************************************************ 
	pane tabs 
*/
.RadSplitter_Outersplitter .tabsContainer
{
	color: #333;
}

.RadSplitter_Outersplitter .tabsContainer
{
	border-right: 1px solid #383838;
}

.RadSplitter_Outersplitter .tabsContainer.bottom
{
	border-bottom: 1px solid #383838;
	border-right: 0; 
}

.RadSplitter_Outersplitter .tabsContainer div
{
	overflow:hidden;
	cursor:Outersplitter;
	text-align:center;
	font-size:1px;
	color: #383838;
	padding: 6px 0;
	width:21px;
	height:auto;
	border-bottom: 1px solid #313131;
}

.RadSplitter_Outersplitter .tabsContainer.bottom div
{
	border-right: 1px solid #313131;
	border-bottom: 0;
}

.RadSplitter_Outersplitter .tabsContainer .paneTabContainerExpanded,
.RadSplitter_Outersplitter .tabsContainer .paneTabContainerExpandedHorizontal
{
	background: #323232;
	color: #fff;
}

.RadSplitter_Outersplitter .paneTabContainerDocked,
.RadSplitter_Outersplitter .paneTabContainerDockedHorizontal
{
	background: #e4e4e4;
}

.RadSplitter_Outersplitter .paneTabText
{
	writing-mode: tb-rl;
	font:10px Arial;
	white-space:nowrap;
	margin:2px;
}

.RadSplitter_Outersplitter .paneTabIcon
{
	margin:2px;
}


/***** tabs on right position *******/

.RadSplitter_Outersplitter .tabsContainer .right
{
	background: url(Img/Splitter/slideZoneBgRight.gif) repeat-y top right;
}


.RadSplitter_Outersplitter .right .paneTabContainer,
.RadSplitter_Outersplitter .right .paneTabContainerExpanded,
.RadSplitter_Outersplitter .right .paneTabContainerDocked
{
	border-left: solid 1px #c3c3c3;
	border-right: 0;
}


.RadSplitter_Outersplitter .right .paneTabContainerExpanded
{
	border-left: solid 1px #a8a8a8;
}

.RadSplitter_Outersplitter .right .paneTabContainerDocked
{
	border-left: solid 1px #8e8e8e;
}

/***** tabs on top position *******/

.RadSplitter_Outersplitter .tabsContainer .top
{
	background: url(Img/Splitter/slideZoneBgTop.gif) repeat-x top;
}


.RadSplitter_Outersplitter .top .paneTabContainer,
.RadSplitter_Outersplitter .top .paneTabContainerExpanded,
.RadSplitter_Outersplitter .top .paneTabContainerDocked
{
	border-right: solid 1px #c3c3c3;
	border-top: solid 1px #c3c3c3;
	border-left: 0;
	border-bottom:0;
	float:left;
	padding: 0 6px;
	width:auto;
}


.RadSplitter_Outersplitter .top .paneTabContainerExpanded
{
	border-right: solid 1px #a8a8a8;
	border-bottom: solid 1px #a8a8a8;
}

.RadSplitter_Outersplitter .top .paneTabContainerDocked
{
	background: white url(Splitter/slideZoneDockedTabHorizontal.gif) repeat-x top;
	border-right: solid 1px #8e8e8e;
}

.RadSplitter_Outersplitter .top .paneTabText
{
	writing-mode: lr-tb;/* Outersplitter */
}

.RadSplitter_Outersplitter .top .paneTabIcon
{
	display: block; 
	float: left
}

/***** tabs on bottom position *******/

.RadSplitter_Outersplitter .tabsContainer .bottom
{
	background: url(Splitter/slideZoneBgBottom.gif) repeat-x bottom;
}

.RadSplitter_Outersplitter .bottom .paneTabContainer,
.RadSplitter_Outersplitter .bottom .paneTabContainerExpanded,
.RadSplitter_Outersplitter .bottom .paneTabContainerDocked
{
	border-right: solid 1px #c3c3c3;
	border-left: 0;
	float:left;
	padding: 0 6px;
	width:auto;
}


.RadSplitter_Outersplitter .bottom .paneTabContainerExpanded
{
	border-right: solid 1px #a8a8a8;
	padding-bottom: 1px;
	border-bottom: 0;
}

.RadSplitter_Outersplitter .bottom .paneTabContainerDocked
{
	border-right: solid 1px #8e8e8e;
}

.RadSplitter_Outersplitter .bottom .paneTabText
{
	writing-mode: lr-tb;/* Outersplitter */
}

.RadSplitter_Outersplitter .bottom .paneTabIcon
{
	display: block; 
	float: left
}

/*****  -- End tabs on bottom position *******/

/************************************************ 
	slide/dock containers 
*/
.RadSplitter_Outersplitter .slideContainer 
{
	border: 0;
	border-collapse: collapse;
}

.RadSplitter_Outersplitter .slideContainerDocked
{
	
}

.RadSplitter_Outersplitter .slideHeader, 
.RadSplitter_Outersplitter .slideHeaderDocked
{
	background: #f7f7f7 url(Splitter/slideHeader.gif) repeat-x top left;
	color: #fff;
}

.RadSplitter_Outersplitter .slideContainerResize,
.RadSplitter_Outersplitter .slideContainerResizeHorizontal
{ 
     background: #787878 none;
}

.RadSplitter_Outersplitter .slideContainerResizeOver,
.RadSplitter_Outersplitter .slideContainerResizeOverHorizontal
{
	background: #383838 none;
}

.RadSplitter_Outersplitter .slideContainerResize,
.RadSplitter_Outersplitter .slideContainerResizeOver
{
	border-top: 0;
	border-bottom: 0;
}

.RadSplitter_Outersplitter .slideContainerResizeHorizontal,
.RadSplitter_Outersplitter .slideContainerResizeOverHorizontal
{
	border-left: 0;
	border-right: 0;
}

/*
.RadSplitter_Outersplitter .slideHeaderIcon
{
	margin: 1px 3px;
	border:0;
} 

.RadSplitter_Outersplitter .slideHeaderIconOver
{
	cursor: pointer;
	background: url(Splitter/IconHover.gif) no-repeat center center;
	margin: 1px 3px;
} 
*/

.RadSplitter_Outersplitter .slideHeaderIconWrapper
{
	width: 21px;
}

.RadSplitter_Outersplitter .slideHeaderIconsWrapper
{
	float: right;
}

.RadSplitter_Outersplitter .slideHeaderUndockIcon,
.RadSplitter_Outersplitter .slideHeaderDockIcon,
.RadSplitter_Outersplitter .slideHeaderCollapseIcon
{	
	width: 15px;
	height: 15px;
	float: left;
	margin: 1px 3px;
	border: 0;
}

.RadSplitter_Outersplitter .slideHeaderUndockIconOver,
.RadSplitter_Outersplitter .slideHeaderDockIconOver,
.RadSplitter_Outersplitter .slideHeaderCollapseIconOver
{	
	width: 15px;
	height: 15px;
	float: left;
	cursor: pointer;
	margin: 1px 3px;
}

.RadSplitter_Outersplitter .slideHeaderUndockIcon,
.RadSplitter_Outersplitter .slideHeaderUndockIconOver
{
	background: url(Splitter/undock.gif);
	background-position: -2339px 0;
}

.RadSplitter_Outersplitter .slideHeaderDockIcon,
.RadSplitter_Outersplitter .slideHeaderDockIconOver
{
	background: url(Splitter/dock.gif);
}

.RadSplitter_Outersplitter .slideHeaderCollapseIcon,
.RadSplitter_Outersplitter .slideHeaderCollapseIconOver
{
	background: url(Splitter/close.gif);
}

.RadSplitter_Outersplitter .slideHeaderUndockIcon
{
	background-position: 0 0;
}

.RadSplitter_Outersplitter .slideHeaderUndockIconOver
{
	background-position: 0 100%;
} 

.RadSplitter_Outersplitter .slideHeaderDockIcon
{
	background-position: 0 0;
}

.RadSplitter_Outersplitter .slideHeaderDockIconOver
{
	background-position: 0 100%;
} 

.RadSplitter_Outersplitter .slideHeaderCollapseIcon
{
	background-position: 0 0;
}

.RadSplitter_Outersplitter .slideHeaderCollapseIconOver
{
	background-position: 0 100%;
} 

.RadSplitter_Outersplitter .slideTitle, 
.RadSplitter_Outersplitter .slideTitleDocked 
{
	font:11px Arial;
	color: #fff;
	white-space:nowrap;
	margin-left:5px;
	margin-right:5px;
	text-align:left;
	line-height: 25px;
}

.RadSplitter_Outersplitter .slideTitleContainer
{
	background-color: #f7f7f7;
	background: url(Splitter/slideHeader.gif) repeat-x;
}

.RadSplitter_Outersplitter .slideContent, 
.RadSplitter_Outersplitter .slideContentDocked
{
	font: 10px Arial;
	color: black;
	background-color: white;
	padding: 5px;
	text-align: left;
}

.RadSplitter_Outersplitter .helperBarSlideDrag,
.RadSplitter_Outersplitter .slideContainerResize,
.RadSplitter_Outersplitter .slideContainerResizeOver
{
	cursor: w-resize;
}

.RadSplitter_Outersplitter .helperBarSlideDragHorizontal,
.RadSplitter_Outersplitter .slideContainerResizeHorizontal,
.RadSplitter_Outersplitter .slideContainerResizeOverHorizontal
{
	cursor: n-resize;
}

/*****************************************************************************/
/* these below are not skin/border size specific. Shared between all skins   */
/*****************************************************************************/
.nested,
.nestedHorizontal 
{
	border-width: 0 !important;
}

/************ nested vertical ****************/
.nested .pane, 
.nested .resizeBar,
.nested .resizeBarOver,
.nested .resizeBarInactive  
{
	border-top: 0 !important;
	border-bottom: 0 !important;
}

.nested .pane.firstItem,
.nested .resizeBar.firstItem,
.nested .resizeBarOver.firstItem,
.nested .resizeBarInactive.firstItem
{
	border-left: 0 !important;
}

.nested .pane.lastItem, 
.nested .resizeBar.lastItem,
.nested .resizeBarOver.lastItem,
.nested .resizeBarInactive.lastItem
{
	border-right: 0 !important;
}

.nested .pane.firstItem.lastItem, 
.nested .resizeBar.firstItem.lastItem,
.nested .resizeBarOver.firstItem.lastItem,
.nested .resizeBarInactive.firstItem.lastItem
{
	border-left: 0 !important;
	border-right: 0 !important;
}

/************ nested horizontal ****************/

.nestedHorizontal .paneHorizontal, 
.nestedHorizontal .resizeBarHorizontal,
.nestedHorizontal .resizeBarOverHorizontal,
.nestedHorizontal .resizeBarInactiveHorizontal
{
	border-left: 0 !important;
	border-right: 0 !important;
}

.nestedHorizontal .paneHorizontal.firstItem,
.nestedHorizontal .resizeBarHorizontal.firstItem,
.nestedHorizontal .resizeBarOverHorizontal.firstItem,
.nestedHorizontal .resizeBarInactiveHorizontal.firstItem
{
	border-top: 0 !important;
}

.nestedHorizontal .paneHorizontal.lastItem, 
.nestedHorizontal .resizeBarHorizontal.lastItem,
.nestedHorizontal .resizeBarOverHorizontal.lastItem,
.nestedHorizontal .resizeBarInactiveHorizontal.lastItem
{
	border-bottom: 0 !important;
}

.nestedHorizontal .paneHorizontal.firstItem.lastItem, 
.nestedHorizontal .resizeBarHorizontal.firstItem.lastItem,
.nestedHorizontal .resizeBarOverHorizontal.firstItem.lastItem,
.nestedHorizontal .resizeBarInactiveHorizontal.firstItem.lastItem
{
	border-top: 0 !important;
	border-bottom: 0 !important;
}
