/* RADWINDOW PROMETHEUS CUSTOM SKIN */

div.radwindow_RadControls table.titlebarcontrols a.windowicon	
{
	/*background-image: url('timecard.gif');*/
	/*background-position: center center;
	/*visibility : visible;*/
	/*background-repeat: no-repeat;*/
	width:0px; height: 22px;
	margin-right:0px!important;
	/*background-image: url('Window/windowIcon.png');*/
	/*vertical-align:middle;
	background-repeat: no-repeat;
	margin-top:3px;
	margin-left:5px;
	width: 22px; height: 22px;*/
}



div.radwindow_RadControls
{
	/*background-color:#000 !important;*/
}
div.radwindow_RadControls table td.corner
{
	width:6px;
	font-size:1px;
	line-height:1px;
}

div.radwindow_RadControls table td.topleft
{
	/*using spacer.gif to enable window resizing*/
	background:url('Window/spacer.gif');
}

div.radwindow_RadControls table td.titlebar
{
	/*using spacer.gif to enable window resizing*/
	background:transparent url('Window/spacer.gif') ;
}

div.radwindow_RadControls table td.topright
{
	/*using spacer.gif to enable window resizing*/
	background:url('Window/spacer.gif');
}


/*-----------------------------------------------------------------------------------------------------------------------*/
div.radwindow_RadControls table td.bodyleft
{
	/*using spacer.gif to enable window resizing*/
	background:url('Window/spacer.gif');
}

div.radwindow_RadControls .windowcontent
{
	height: 100%;
	border-bottom:0;
	background:#fff;
	min-height:140px !important;
	border-bottom:1px;
	border-bottom-color:White;

	
}

div.radwindow_RadControls .windowcontent.iFrame
{
	min-height:140px !important;
	min-width:242px !important;
}


div.radwindow_RadControls table td.bodyright
{
	/*using spacer.gif to enable window resizing*/
	background:url('Window/spacer.gif');
}


/*-----------------------------------------------------------------------------------------------------------------------*/
div.radwindow_RadControls table td.footerleft
{
	height:6px;
	/*using spacer.gif to enable window resizing*/
	background:url('Window/spacer.gif');
}

div.radwindow_RadControls table td.footercenter
{
	height:6px;
	/*using spacer.gif to enable window resizing*/
	background:url('Window/spacer.gif');
}

div.radwindow_RadControls table td.footerright
{
	height:6px;
	/*using spacer.gif to enable window resizing*/
	background:url('Window/spacer.gif');
}


/*-----------------------------------------------------------------------------------------------------------------------*/
div.radwindow_RadControls table.titlebarcontrols ul.controlbuttons
{
	padding:0 2px 0 0 !important;
}

div.radwindow_RadControls table.titlebarcontrols ul.controlbuttons li a
{
	width: 20px; height: 26px; line-height: 26px;
}


/*-----------------------------------------------------------------------------------------------------------------------*/
/* close button */
div.radwindow_RadControls a.closebutton
{
	background: transparent url('Window/buttonClose.png') no-repeat;
}

div.radwindow_RadControls a.closebutton:hover
{
	background: transparent url('Window/buttonCloseHover.png') no-repeat;
}


/*-----------------------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------------------*/
div.radwindow_RadControls table.titlebarcontrols em
{
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	color: #ffffff;	
	margin-top: 3px;
	margin-left: 3px;
}


/*-----------------------------------------------------------------------------------------------------------------------*/
/* set window transparency */
div.radwindow.radwindow_RadControls.normalwindow.transparentwindow td.corner,
div.radwindow.radwindow_RadControls.normalwindow.transparentwindow td.titlebar,
div.radwindow.radwindow_RadControls.transparentwindow td.footercenter
{
	
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	opacity: .8; -moz-opacity: .8;
}