.Home {
    position: relative;
    top: 2vh;
}

.Home a {
    font-size: 2rem;
    color: white;
}

.Home a:hover {
    color: rgba(255, 255, 255, .5);
}

#about {
    position: relative;
    top: 100px;
    left: 114px;
}

#home {
    position: relative;
    top: 300px;
    left: -102px;
}

#projects {
    position: relative;
    top: 300px;
    left: 16px;
}



