.Projects {
    width: 50%;
    height: 80vh;
    position: relative;
    top: 10vh;
    border: 2px solid white;
    margin: auto;
    background-color: black;
    color: #ccc;
}

.Projects h1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

