.navMenu {
    margin: auto;
    color: #ccc;
}

nav.navMenu {
    display: flex;
    width: 25%;
    justify-content: space-around;
    padding-top: 1vh;
}

.links a {
    font-size: .75rem;
    margin: 10px;
}

